*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --clr-palette12-dark-ash-blue: #273641;
  --clr-palette12-ash-cyan: #3c6e71;
  --clr-palette12-white: #ffffff;
  --clr-palette12-light-grey: #d9d9d9;
  --clr-palette12-ash-blue: #284b63;

  --clr-palette15-rich-black-29: #001f29;
  --clr-palette15-blue-sapphire: #004e66;
  --clr-palette15-celadon-blue: #0081a7;
  --clr-palette15-max-blue-green: #00afb9;
  --clr-palette15-jungle-green: #00b093;
  --clr-palette15-linen: #f9eadc;
  --clr-palette15-pale-spring-bud: #e6e6c5;
  --clr-palette15-light-salmon: #fab390;
  --clr-palette15-bright-yellow-crayola: #ffa920;
  --clr-palette15-cedar-chest: #ce5239;
}

html {
  height: 100%;
  font-size: 10px;
  font-family: Tahoma, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

/*will be replaced by utilities*/
body {
  background-color: var(--clr-palette15-max-blue-green);
  margin: 0;
  overflow: hidden;
}

main {
  position: relative;
}

/********************************************************************/
/* SPECIFIC*/

::-webkit-scrollbar {
  background-color: var(--clr-palette15-linen);
  border-radius: 0 0.5rem 0.5rem 0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-palette15-max-blue-green);
  border-radius: 0 0.45rem 0.45rem 0;
  box-shadow: inset 0.15rem 0.15rem 0.25rem var(--clr-palette15-linen),
    inset -0.35rem -0.35rem 0.5rem var(--clr-palette15-blue-sapphire);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3c6e71a0;
}

/*will be replaced by utilities*/

#pastTimerContainer {
  margin-top: 0.75rem;
  padding: 0.25rem 3rem 0.25rem 0.25rem;
  background-color: var(--clr-palette15-cedar-chest);
  border-radius: 0 2.75rem 2.75rem 0;
  text-align: start;
}

#pastTimerContainer > p {
  color: var(--clr-palette15-linen);
  margin: 1rem 1.5rem;
  padding-top: 2.5rem;
}

#pastTimerList {
  width: 35rem;
  height: 80vh;
  margin: 1.5rem;
  margin-left: 0.75rem;
  padding: 1.5rem;
  background-image: linear-gradient(
    var(--clr-palette15-linen) 1%,
    var(--clr-palette15-light-salmon) 80%,
    var(--clr-palette15-blue-sapphire) 99%
  );
  border-radius: 0.5rem;
  overflow-y: scroll;
}

#activeTimerContainer {
  padding-top: 2rem;
  _border: 0.25rem solid var(--clr-palette15-cedar-chest);
}

#activeTimerContainer > div {
  margin-top: 3rem;
  padding-bottom: 2rem;
}

#activeTimerContainer button {
  padding: 1rem 1.5rem;
  font-size: 2rem;
}

#timer {
  width: 20vw;
  font-size: 8rem;
  padding: 2rem 3rem;
  background-color: var(--clr-palette15-linen);
  border-radius: 0.75rem;
  color: var(--clr-palette15-rich-black-29);
}

/********************************************************************/
/* CLASS LISTS */

.li-timer-item {
  margin-block: 1rem;
  border: 0.35rem solid var(--clr-palette15-cedar-chest);
  border-radius: 0.5rem;
}

.li-timer-item-date-info-element {
  padding-block: 1rem 0.25rem;
  padding-inline-start: 1rem;
  background-color: var(--clr-palette15-max-blue-green);
  color: var(--clr-palette15-linen);
}

.li-timer-item-info-element {
  padding: 1rem 0.25rem;
  background-color: var(--clr-palette12-white);
  border-radius: 0 0 0.25rem 0.25rem;
  color: var(--clr-palette15-blue-sapphire);
}

.blur {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: var(--clr-palette15-rich-black-29);
  opacity: 0.65;
  animation: layIn 1.25s ease-in;
}

.notification {
  position: absolute;
  z-index: 3;
  top: 8rem;
  bottom: 0;
  left: 52.25%;
  right: auto;
  width: 25ch;
  margin: 0.5rem;
  padding: 1rem 2rem;
  height: fit-content;
  color: var(--clr-palette15-rich-black-29);
  background-color: var(--clr-palette15-cedar-chest);
  border-radius: 1.5rem;
  animation: popIn 0.25s linear, fadeIn 0.75s linear;
}

.notification p {
  margin: 0;
  padding: 2rem 1rem;
}

.notification-buttons {
  margin-bottom: 2rem;
  margin-inline: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popIn {
  from {
    transform: scaleX(0.75);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes layIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.65;
  }
}

/********************************************************************/
/* UTILITIES */

.pad-p25rem {
  padding: 0.25rem;
}
.pad-p4rem {
  padding: 0.4rem;
}
.pad-p5rem {
  padding: 0.5rem;
}
.pad-p75rem {
  padding: 0.75rem;
}
.pad-1rem {
  padding: 1rem;
}

.pad-bottom-p25rem {
  padding-bottom: 0.25rem;
}
.pad-left-0 {
  padding-left: 0;
}

.pad-block-p25rem {
  padding-block: 0.25rem;
}
.pad-block-p5rem {
  padding-block: 0.5rem;
}
.pad-block-p75rem {
  padding-block: 0.75rem;
}
.pad-block-1rem {
  padding-block: 1rem;
}
.pad-block-1p25rem {
  padding-block: 1.25rem;
}

.pad-left-p25rem {
  padding-left: 0.25rem;
}
.pad-inline-p5rem-4rem {
  padding-inline: 0.5rem 4rem;
}

.pad-inline-p25rem {
  padding-inline: 0.25rem;
}
.pad-inline-p5rem {
  padding-inline: 0.5rem;
}
.pad-inline-1rem {
  padding-inline: 1rem;
}

.mar-0rem {
  margin: 0rem;
}
.mar-p5rem {
  margin: 0.5rem;
}
.mar-p75rem {
  margin: 0.75rem;
}
.mar-1rem {
  margin: 1rem;
}

.mar-block-2rem-3rem {
  margin-block: 2rem 3rem;
}
.mar-inline-2rem {
  margin-inline: 4rem;
}

.mar-bottom-p5rem {
  margin-bottom: 0.5rem;
}
.mar-bottom-1rem {
  margin-bottom: 1rem;
}
.mar-bottom-1p5rem {
  margin-bottom: 1.5rem;
}
.mar-bottom-2p5rem {
  margin-bottom: 2.5rem;
}

.margin-left-0 {
  margin-left: 0;
}
.mar-left-p25rem {
  margin-left: 0.25rem;
}

/*****************/

.ft-sz-1rem {
  font-size: 1rem;
}
.ft-sz-1p2rem {
  font-size: 1.2rem;
}
.ft-sz-1p25rem {
  font-size: 1.25rem;
}
.ft-sz-1p5rem {
  font-size: 1.5rem;
}
.ft-sz-2rem {
  font-size: 2rem;
}
.ft-sz-2p5rem {
  font-size: 2.5rem;
}
.ft-sz-3rem {
  font-size: 3rem;
}

.ft-fam-tahoma {
  font-family: tahoma;
}

/*****************/

.border-none {
  border: none;
}

.border-radius-p25rem {
  border-radius: 0.25rem;
}

/*****************/

.list-style-none {
  list-style-type: none;
}

.opacity {
  opacity: 0.95;
}

/*****************/

.flex-c-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-r-c-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-r-spaceBetween-c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-gap-5rem {
  gap: 5rem;
}

.flex-gap-1rem {
  gap: 1rem;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}
